{% extends 'base.html.twig' %}



{% block title %}catalogue
{% endblock %}

{% block body %}


	{% include "./partials/header.html.twig" %}

<div class='bg-white'>



<br>
<br>

<div class=" container-fluid row bg-secondary mx-auto w-75 mb-5 mt-5 pb-4 pt-2">

<div class="col-md-3 align-self-center pl-5 ml-5">
  <input type="search" class="form-control rounded" placeholder="entrer votre recherge" aria-label="Search"
    aria-describedby="search-addon" />
  </div>

  <div class = "col-md-2 align-self-center">
  <span style="font-size: 2em;">
<i class="fas fa-search"></i>
</span>
</div>

<div class = "col-md-2 align-self-center"><p class ="lign-self-center h4">Trier par:
</p>
</div>

<div class = "col-md-2 align-self-center">
<select class="form-control">
  <option>tout catalogue</option>
  <option>catalogue vert</option>
  <option>catalogue bleu</option>
</select>
</div>

<div class= "col-md-2 align-self-center">
<select class="form-control">
  <option>tout lieu</option>
  <option>Arles</option>
</select>
</div>
</div>

<br>
<br>


{# <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"> #}


<div class=" container-fluid row center ">

<div class ="col-md-3 survole-vert">

<span style="font-size: 5em;" class=" survole-vert" >
<i class="fas fa-chess"></i>
</span>

<a href="#content-1" class="accordion-toggle">
nom de la catégorie
</a>

</div>

<div class ="col-md-2  survole-vert">

<span style="font-size: 5em;" class=" survole-vert " >
 <i class="fas fa-robot"></i>
</span>

 <a href="#content-2" class="accordion-toggle">
nom de la catégorie
</a>

</div>

<div class ="col-md-2 survole-vert">

<span style="font-size: 5em;" class=" survole-vert " >
<i class="fas fa-tools"></i>
</span>

 <a href="#content-3" class="accordion-toggle">
nom de la catégorie
</a>

</div>

<div class ="col-md-2 survole-vert ">

<span style="font-size: 5em;" class=" survole-vert " >
<i class="fas fa-guitar"></i>
</span>

 <a href="#content-4" class="accordion-toggle">
nom de la catégorie
</a>

</div>

<div class ="col-md-3  survole-vert">

<span style="font-size: 5em;" class=" survole-vert" >
<i class="fas fa-car align-middle "></i>
</span>

 <a href="#content-5" class="accordion-toggle">
nom de la catégorie
</a>

</div>


</div>
 

 {# catégorie 1 #}

<div class="accordion-content" id="content-1">

<div class="wrapper ">

        <div class="grid ">
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=400" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=401" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=403" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=404" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=405" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=406" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=407" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=408" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=409" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=411" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
        </div>
    </div>

    </div>

   {# fin catégorie 1 #}

{# catégorie 2 #}

<div class="accordion-content" id="content-2">

<div class="wrapper ">

        <div class="grid ">
          
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=403" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
         
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=407" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=408" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=409" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=411" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
        </div>
    </div>

    </div>

{# fin catégorie 2#}

{# catégorie 3#}

<div class="accordion-content" id="content-3">

<div class="wrapper ">

        <div class="grid ">
          
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=403" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=404" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
           
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=409" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=411" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
        </div>
    </div>

    </div>

{# fin catégorie 3#}

{# catégorie 4 #}

<div class="accordion-content" id="content-4">

<div class="wrapper ">

        <div class="grid ">
          
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=403" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
          
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=407" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=408" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=409" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=411" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
        </div>
    </div>

    </div>

{# fin catégorie 4#}

{# catégorie 5 #}

<div class="accordion-content" id="content-5">

<div class="wrapper ">

        <div class="grid ">
          
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=403" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=404" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=405" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=409" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
            <div class="grid-item">
                <figure>
                    <img src="https://unsplash.it/250/187?image=411" alt="">
                    <figcaption>Image Title</figcaption>
                </figure>
            </div>
        </div>
    </div>

    </div>

{# fin catégorie 5#}




<br>
<br>
<br>
<br>
<br>


{# <div>

<p class='text-center display-4'> A La une </p>

<br>
<br>

<div id="secondary-slider" class="splide">
	<div class=" slider__el">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="{{ asset('photos/aspirateur.jpg') }}">
			</li>
			<li class="splide__slide">
				<img src="{{ asset('photos/casseroles.jpg') }}">
			</li>
			<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/marteau.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/marteau2.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/perceuse.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/robot.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/tondeuse.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
		</ul>
	</div>
</div>
</div> #}



<h1>Isotope - filtering &amp; sorting</h1>
<h2>Filter</h2>
<div id="filters" class="button-group">  <button class="button is-checked" data-filter="*">show all</button>
  <button class="button" data-filter=".metal">metal</button>
  <button class="button" data-filter=".transition">transition</button>
  <button class="button" data-filter=".alkali, .alkaline-earth">alkali and alkaline-earth</button>
  <button class="button" data-filter=":not(.transition)">not transition</button>
  <button class="button" data-filter=".metal:not(.transition)">metal but not transition</button>
  <button class="button" data-filter="numberGreaterThan50">number > 50</button>
  <button class="button" data-filter="ium">name ends with &ndash;ium</button>
</div>

<h2>Sort</h2>
<div id="sorts" class="button-group">  <button class="button is-checked" data-sort-by="original-order">original order</button>
  <button class="button" data-sort-by="name">name</button>
  <button class="button" data-sort-by="symbol">symbol</button>
  <button class="button" data-sort-by="number">number</button>
  <button class="button" data-sort-by="weight">weight</button>
  <button class="button" data-sort-by="category">category</button>
</div>

<div class="grid">
  <div class="element-item transition metal " data-category="transition">
    <h3 class="name">Mercury</h3>
    <p class="symbol">Hg</p>
    <p class="number">80</p>
    <p class="weight">200.59</p>
  </div>
  <div class="element-item metalloid " data-category="metalloid">
    <h3 class="name">Tellurium</h3>
    <p class="symbol">Te</p>
    <p class="number">52</p>
    <p class="weight">127.6</p>
  </div>
  <div class="element-item post-transition metal " data-category="post-transition">
    <h3 class="name">Bismuth</h3>
    <p class="symbol">Bi</p>
    <p class="number">83</p>
    <p class="weight">208.980</p>
  </div>
  <div class="element-item post-transition metal " data-category="post-transition">
    <h3 class="name">Lead</h3>
    <p class="symbol">Pb</p>
    <p class="number">82</p>
    <p class="weight">207.2</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <h3 class="name">Gold</h3>
    <p class="symbol">Au</p>
    <p class="number">79</p>
    <p class="weight">196.967</p>
  </div>
  <div class="element-item alkali metal " data-category="alkali">
    <h3 class="name">Potassium</h3>
    <p class="symbol">K</p>
    <p class="number">19</p>
    <p class="weight">39.0983</p>
  </div>
  <div class="element-item alkali metal " data-category="alkali">
    <h3 class="name">Sodium</h3>
    <p class="symbol">Na</p>
    <p class="number">11</p>
    <p class="weight">22.99</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <h3 class="name">Cadmium</h3>
    <p class="symbol">Cd</p>
    <p class="number">48</p>
    <p class="weight">112.411</p>
  </div>
  <div class="element-item alkaline-earth metal " data-category="alkaline-earth">
    <h3 class="name">Calcium</h3>
    <p class="symbol">Ca</p>
    <p class="number">20</p>
    <p class="weight">40.078</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <h3 class="name">Rhenium</h3>
    <p class="symbol">Re</p>
    <p class="number">75</p>
    <p class="weight">186.207</p>
  </div>
  <div class="element-item post-transition metal " data-category="post-transition">
    <h3 class="name">Thallium</h3>
    <p class="symbol">Tl</p>
    <p class="number">81</p>
    <p class="weight">204.383</p>
  </div>
  <div class="element-item metalloid " data-category="metalloid">
    <h3 class="name">Antimony</h3>
    <p class="symbol">Sb</p>
    <p class="number">51</p>
    <p class="weight">121.76</p>
  </div>
  <div class="element-item transition metal " data-category="transition">
    <h3 class="name">Cobalt</h3>
    <p class="symbol">Co</p>
    <p class="number">27</p>
    <p class="weight">58.933</p>
  </div>
  <div class="element-item lanthanoid metal inner-transition " data-category="lanthanoid">
    <h3 class="name">Ytterbium</h3>
    <p class="symbol">Yb</p>
    <p class="number">70</p>
    <p class="weight">173.054</p>
  </div>
  <div class="element-item noble-gas nonmetal " data-category="noble-gas">
    <h3 class="name">Argon</h3>
    <p class="symbol">Ar</p>
    <p class="number">18</p>
    <p class="weight">39.948</p>
  </div>
  <div class="element-item diatomic nonmetal " data-category="diatomic">
    <h3 class="name">Nitrogen</h3>
    <p class="symbol">N</p>
    <p class="number">7</p>
    <p class="weight">14.007</p>
  </div>
  <div class="element-item actinoid metal inner-transition " data-category="actinoid">
    <h3 class="name">Uranium</h3>
    <p class="symbol">U</p>
    <p class="number">92</p>
    <p class="weight">238.029</p>
  </div>
  <div class="element-item actinoid metal inner-transition " data-category="actinoid">
    <h3 class="name">Plutonium</h3>
    <p class="symbol">Pu</p>
    <p class="number">94</p>
    <p class="weight">(244)</p>
  </div>
</div>


{% include "/partials/footer.html.twig" %}



{% endblock %}
