{% extends 'base.html.twig' %}

{# <link src= #}

{% block title %}kikassi{% endblock %}

{% block body %}
{# 
	{% include "./partials/header.html.twig" %} #}

<div class='bg-white'>



<br>
<br>

<div class=" container-fluid row bg-secondary mx-auto w-75 mb-5 mt-5 pb-4 pt-2">

<div class="col-md-3 align-self-center pl-5 ml-5">
  <input type="search" class="form-control rounded" placeholder="entrer votre recherge" aria-label="Search"
    aria-describedby="search-addon" />
  </div>

  <div class = "col-md-2 align-self-center">
  <span style="font-size: 2em;">
<i class="fas fa-search"></i>
</span>
</div>

<div class = "col-md-2 align-self-center"><p class ="lign-self-center h4">Trier par:
</p>
</div>

<div class = "col-md-2 align-self-center">
<select class="form-control">
  <option>tout catalogue</option>
  <option>catalogue vert</option>
  <option>catalogue bleu</option>
</select>
</div>

<div class= "col-md-2 align-self-center">
<select class="form-control">
  <option>tout lieu</option>
  <option>Arles</option>
</select>
</div>
</div>

<br>
<br>


{# <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active"> #}
   

<div class=" container row center ">

<div class ="col-md-2 ">

<span style="font-size: 5em;" class=" survole-vert" >
<i class="fas fa-chess"></i>
</span> 
<a href="#content-1" class="teste2 accordion-toggle"> 

<span style="font-size: 2em;" class=" center " >
<i class="fas fa-chevron-circle-down teste1"></i>
</span>
 
</a>
<div class="accordion-content" id="content-1">

  <ul>
 
			<li class="">
				<img src="{{ asset('photos/casseroles.jpg') }}">
			</li>
			<li class="  ">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/marteau.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/marteau2.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/perceuse.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/robot.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/tondeuse.jpg')}}">
			</li>
      	<li class="  ">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>

</ul>
  </div>

  </div>
{# <span style="font-size: 5em;" class=" survole-vert col-md-2 ml-5 pl-5" >
 <i class="fas fa-chess"></i>
</span> #}


<span style="font-size: 5em;" class=" survole-vert col-md-2" >
 <i class="fas fa-robot"></i>
</span>
{# <p>nom de la catégorie</p> #}


<span style="font-size: 5em;" class=" survole-vert col-md-2" > 
<i class="fas fa-tools"></i>
</span>
{# <p>nom de la catégorie</p> #}

<span style="font-size: 5em;" class=" survole-vert col-md-2" >
<i class="fas fa-guitar"></i>
</span>
{# <p>nom de la catégorie</p> #}

<span style="font-size: 5em;" class=" survole-vert col-md-2" >
<i class="fas fa-car align-middle "></i>
</span>	
 {# <p>nom de la catégorie</p> #} 


</div>
 {# </div> #}

 

    {# <div class="carousel-item">

	<span style="font-size: 5em;" class=" survole-vert col-md-2 ml-5 pl-5" >
 <i class="fas fa-chess"></i>
</span>

<span style="font-size: 5em;" class=" survole-vert col-md-2" >
<i class="fas fa-car align-middle "></i>
</span> #}
 {# <p>nom de la catégorie</p> #} 

 {# <div class="carousel-item">
<span style="font-size: 5em;" class=" survole-vert col-md-2" >
<i class="fas fa-car align-middle "></i>
</span>


<span style="font-size: 5em;" class=" survole-vert col-md-2" >
<i class="fas fa-car align-middle "></i>
</span> #}
 {# <p>nom de la catégorie</p> #} 
 {# <p>nom de la catégorie</p> #} 
{# </div> #}

  {# </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a> #}


<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
        Accordion Item #1
      </button>
    </h2>
    <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingTwo">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
        Accordion Item #2
      </button>
    </h2>
    <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingThree">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
        Accordion Item #3
      </button>
    </h2>
    <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
      </div>
    </div>
  </div>
</div>






{# <br>
<br>
<br>
<br>
<br>


<div>

<p class='text-center display-4'> A La une </p>

<br>
<br>

<div id="fourth-slider" class="splide">
	<div class=" slider__el">
		<ul class="splide__list">
			<li class="splide__slide">
				<img src="{{ asset('photos/aspirateur.jpg') }}">
			</li>
			<li class="splide__slide">
				<img src="{{ asset('photos/casseroles.jpg') }}">
			</li>
			<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/marteau.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/marteau2.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/perceuse.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/robot.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/tondeuse.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
      	<li class="splide__slide">
				<img src="{{ asset('photos/jouet.jpg')}}">
			</li>
		</ul>
	</div>
</div>
</div>



</div> #}

	{# {% include "./partials/footer.html.twig" %} #}

	</div>

{% endblock %}
