{% extends 'base.html.twig' %}

{% block title %}Compte utilisateur
{% endblock %}
{% block body %}
	{% include "./partials/header.html.twig" %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-12 margin-top">
				<div class="text-center">
					<h1>Compte utilisateur</h1>
					{% for message in app.flashes('success') %}
						<span class="alert alert-success mx-2">
							{{ message|raw }}
						</span>
					{% endfor %}
					<h3>{{app.user.adherent.nom}}
						{{app.user.adherent.prenom}}</h3>
					<p>couleur de fourmis:
						{{app.user.adherent.adhesionBibliotheque.categorieFourmi}}
					</p>
				</div>
				{{ include('adherent/_form.html.twig') }}
				{# {{ include('adherent/_formMdp.html.twig') }} #}
				<div class="text-center">
					<a href="{{ path('home') }}" class="btn bg-green text-light">Retour à la page du catalogue</a>
				</div>
			</div>
		</div>
	</div>
	{% include "./partials/footer.html.twig" %}
{% endblock %}
