{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block body %}
	{% include "./partials/header.html.twig" %}
	<div class="container-fluid">
		<div class="row">
			<div
				class="margin-top-panier col-6 mb-4">{# <div class="input-group rounded">
																																																																							<input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon"/>
																																																																							<span class="input-group-text border-0" id="search-addon">
																																																																						<i class="fas fa-search"></i>
																																																																						</span>
																																																																						</div> #}
			</div>
			<div class="col-12 text-center">
				<h3 class="mx-4 mb-5">Historique des réservations</h3>
			</div>
			<div class="col-10 offset-2 text-center">
				<table class="mx-2 table table-responsive">
					<thead>
						<tr class="text-center">
							<th scope="col">Objet</th>
							<th scope="col">Etat</th>
							<th scope="col">Date de retour</th>
							<th scope="col">Retour enregistré</th>
							<th scope="col">Frais de retard</th>
							<th scope="col">Ré-emprunté
							</th>
						</tr>
					</thead>
					<tbody>
						{% for emprunt in emprunts %}
							{% if emprunt.adherent.id is defined %}
								{% if emprunt.adherent.id == app.user.id %}
									<tr>
										<td>
											{% for objet in objets %}
												{% if objet.id == emprunt.objet.id %}
													{{ objet.denomination|title }}
												{% endif %}
											{% endfor %}
										</td>
										<td>{{ emprunt.statut}}</td>
										<td>
											{% if emprunt.dateRetourObjet
										 %}
												{{ emprunt.dateRetourObjet}}
											{% endif %}
										</td>
										<td>
											{% if emprunt.dateRetourObjet
										 %}
												oui
											{% else %}
												non retourné
											{% endif %}
										</td>
										<td>
											{{emprunt.penalites}}
										</td>
										<td class="text-center">
											{% for objet in objets %}
												{% if objet.id == emprunt.objet.id %}
													<a class="text-dark" href="{{ path('objetDetail', {'slug' : emprunt.objet.slug }) }}">
														<i class="fas fa-redo"></i>
													</a>
												{% endif %}
											{% endfor %}
										</td>
									</tr>
								{% endif %}
							{% endif %}
						{% endfor %}
					</tbody>
				</tbody>
			</table>
		</div>
	</div>
</div>
{% include "./partials/footer.html.twig" %}{% endblock %}
