{# Macro pour l'affichage du footer avec couleur différente selon la section #}

{% macro footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding) %}
	<nav class="{{section}} vw-100 admin-footer d-flex fixed-bottom align-items-center">

		{% if arrow %}
			<a href="" class="prev invisible {{footerPadding}}">
				<i class="fas fa-arrow-left fa-3x"></i>
			</a>
		{% endif %}
		<a href="{{ path(return_path) }}">
			<button type='button' class='btn bar-btn'>
				<div class="font-raleway btn-text">Retour au menu</div>
			</button>
		</a>
		{% if arrow %}
			<a href="" class="{{arrowClass}} next {{footerPadding}}">
				<i class="fas fa-arrow-right fa-3x"></i>
			</a>
		{% endif %}
		{% if envoi %}
			{{envoi|raw}}
		{% endif %}
		{% if continue %}
			{{continue|raw}}
		{% endif %}
	</nav>
{% endmacro %}

{# Macro pour l'affichage de la barre de notifications avec couleur différente selon la section #}

{% macro topnav_color(section)%}
	<nav class="{{section}} vw-100 font-raleway navbar fixed-top px-5">
		<div class="text-center text-md-left my-2">
			<p class="m-1">Bienvenue Mr Machin Truc</p>
			<p class="m-1">Jobs en attente : 4 réservations à confirmer</p>
		</div>
		<div class="align-self-center m-auto m-sm-0 p-2 p-sm-0">
			<button type='button' class='btn bar-btn'>
				<div class="btn-logout font-raleway">
					Déconnexion</div>
			</button>
		</div>
	</nav>
{% endmacro %}

{# Macro pour l'affichage des ensembles de boutons des sous-menus #}

{% macro button_icon(text, icon, link) %}
	<a href="{{ path(link) }}">
		<button type='button' class="big-button d-flex flex-column align-items-center justify-content-center mb-2 mr-md-2">
			<img class="icons" src="{{asset('icons/' ~ icon ~ '.png')}}" alt=" {{icon}} ">
			<div class=" font-raleway ssmenu-btn-text">{{text}}</div>
		</button>
	</a>
{% endmacro %}
