{# Macro pour l'affichage de la barre de notifications avec couleur différente selon la section #}

{% macro topnav_color(section, user)%}
	<nav class="{{section}} vw-100 font-raleway navbar fixed-top px-5">
		<div class="text-center text-md-left my-2">
			<p class="m-1">Bienvenue
				{% if app.user.adherent is defined %}
					{{ app.user.adherent.prenom }}
					{{ app.user.adherent.nom }}
					( Admin )
				{% else %}
					{{ app.user.prenom }}
					{{ app.user.nom }}
					( Super Admin )
				{% endif %}
			</p>
			<p class="m-1">Jobs en attente : 4 réservations à confirmer</p>
		</div>
		<div class="align-self-center m-auto m-sm-0 p-2 p-sm-0">
			<a href="{{path('admin_logout')}}">
				<button type='button' class='btn bar-btn'>
					<div class="btn-logout font-raleway">
						Déconnexion</div>
				</button>
			</a>
		</div>
	</nav>
{% endmacro %}


{# Macro pour l'affichage du footer avec couleur différente selon la section #}

{% macro footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding) %}
	<nav class="{{section}} admin-footer d-flex fixed-bottom align-items-center" data-controller="admin">
		{% if arrow %}
			<a href="" class="prev invisible {{footerPadding}}">
				<i class="fas fa-arrow-left fa-3x"></i>
			</a>
		{% endif %}
		<a href="{{ path(return_path) }}">
			<button type='button' class='btn bar-btn'>
				<div class="font-raleway btn-text">Retour au menu</div>
			</button>
		</a>
		{% if arrow %}
			<a href="" class="{{arrowClass}} next {{footerPadding}}">
				<i class="fas fa-arrow-right fa-3x"></i>
			</a>
		{% endif %}
		{% if envoi %}
			{{envoi|raw}}
		{% endif %}
		{% if continue %}
			{{continue|raw}}
		{% endif %}
	</nav>
{% endmacro %}


{# Macro pour l'affichage des ensembles de boutons des sous-menus #}

{% macro button_icon(text, icon, link) %}
	<a href="{{ path(link) }}">
		<button type='button' class="big-button d-flex flex-column align-items-center justify-content-center mb-2 mr-md-2">
			<img class="icons" src="{{asset('icons/' ~ icon ~ '.png')}}" alt=" {{icon}} ">
			<div class=" font-raleway ssmenu-btn-text">{{text}}</div>
		</button>
	</a>
{% endmacro %}


{# Macro pour l'affichage des messages flash #}

{% macro flash_message() %}
	{% for label, messages in app.flashes %}
		<div class="container text-center my-5  font-raleway ">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					<p class="m-0">{{message|raw }}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endmacro %}


{# Macro pour l'affichage des modules de recherche #}

{% macro search_module(form, label, item, param, select, theads ) %}
	{{form_start(form)}}
	<div class="container my-2 mb-4 search-{{item}} d-block" id="">
		<div class="row mx-4 justify-content-center">
			<div class="form-inline font-raleway">
				<label class="mr-4" for="nom">{{label|raw}}
				</label>
				{{ form_widget(form.nom, {'attr': {'class': 'form-control select-height mr-4'}}) }}
				<a href="{{path('search_' ~ item, {'param': param })}}">
					<button class='envoi-btn font-raleway' type="button" id="search-{{item}}">
						<div class="btn-text p-1 px-2">Ok</div>
					</button>
				</a>
			</div>
		</div>
		<div class="row font-raleway">
			<div class="col">
				<div class="mt-3 mx-4">
					<label>Sélectionnez un
						{{select}}
						:
					</label>
					<table class="table admin-table-{{param}} tb-design table-bordered font-raleway">
						<thead>
							<tr class="text-center">
								{% for thead in theads %}
									<th scope="col">{{thead|raw}}</th>
								{% endfor %}
							</tr>
						</thead>
						<tbody id="search-results-{{item}}"></tbody>
					</table>
					<div class="d-flex justify-content-between align-items-center mb-3">
						<div id="selected-{{item}}"></div>
						<a href="{{path('select_' ~ item, {'param': param })}}">
							<button class='envoi-btn font-raleway' type="button" id="select-{{item}}">
								<div class="btn-text p-1 px-2">Séléctionner</div>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	{{form_end(form)}}
{% endmacro %}
