{# Macro pour l'affichage du footer avec couleur différente selon la section #}

{% macro footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding) %}
	<nav
		class="{{section}} admin-footer d-flex fixed-bottom align-items-center">
		{# vw-100 #}
		{% if arrow %}
			<a href="" class="prev invisible {{footerPadding}}">
				<i class="fas fa-arrow-left fa-3x"></i>
			</a>
		{% endif %}
		<a href="{{ path(return_path) }}">
			<button type='button' class='btn bar-btn'>
				<div class="font-raleway btn-text">Retour au menu</div>
			</button>
		</a>
		{% if arrow %}
			<a href="" class="{{arrowClass}} next {{footerPadding}}">
				<i class="fas fa-arrow-right fa-3x"></i>
			</a>
		{% endif %}
		{% if envoi %}
			{{envoi|raw}}
		{% endif %}
		{% if continue %}
			{{continue|raw}}
		{% endif %}
	</nav>
{% endmacro %}

{# Macro pour l'affichage de la barre de notifications avec couleur différente selon la section #}

{% macro topnav_color(section)%}
	<nav class="{{section}} vw-100 font-raleway navbar fixed-top px-5">
		<div class="text-center text-md-left my-2">
			<p class="m-1">Bienvenue Mr Machin Truc</p>
			<p class="m-1">Jobs en attente : 4 réservations à confirmer</p>
		</div>
		<div class="align-self-center m-auto m-sm-0 p-2 p-sm-0">
			<button type='button' class='btn bar-btn'>
				<div class="btn-logout font-raleway">
					Déconnexion</div>
			</button>
		</div>
	</nav>
{% endmacro %}

{# Macro pour l'affichage des ensembles de boutons des sous-menus #}

{% macro button_icon(text, icon, link) %}
	<a href="{{ path(link) }}">
		<button type='button' class="big-button d-flex flex-column align-items-center justify-content-center mb-2 mr-md-2">
			<img class="icons" src="{{asset('icons/' ~ icon ~ '.png')}}" alt=" {{icon}} ">
			<div class=" font-raleway ssmenu-btn-text">{{text}}</div>
		</button>
	</a>
{% endmacro %}

{# Macro pour l'affichage des messages flash #}

{% macro flash_message() %}
	{% for label, messages in app.flashes %}
		<div class="container text-center my-5  font-raleway ">
			<div class="alert alert-{{ label }}">
				{% for message in messages %}
					<p>{{message | raw }}</p>
				{% endfor %}
			</div>
		</div>
	{% endfor %}
{% endmacro %}


{# Macro pour l'affichage des modules de recherche #}

{# variables :
titreForm => nom formulaire
formName => formulaire
titreRecherche => titre
tableHeads[] => titre des colonnes ['Nom'=> 'nom', 'Prénom' => "prenom", 'Téléphone' => 'telephone']
searchedItems[] => entité dans laquelle on cherche

 #}
{# 
{{form_start(formName)}}
<div class="form-inline search-item font-raleway">
	<label for="adherent">{{titreForm}}
	</label>
	{{ form_widget(formName.nom, {'attr': {'class': 'form-control select-height'}}) }}
	<div>{{form_widget(formName.search)}}</div>
</div>
<div></div>
<div class="row font-raleway">
	<div class="col">
		<div class="searchResult mt-3 mx-4">
			<label class="">{{titreRecherche}}
			</label>
			<table class="table admin-table-objets tb-design table-bordered font-raleway">
				<thead>
					<tr class="text-center">
						<th scope="col">{{tableHeads}}</th>

					</tr>
				</thead>
				<tbody>
					{% if searchedItems is defined %}
						{% for item in searchedItems %}
							<tr>
								<td class="text-center">
									{{item.nom|capitalize}}
								</td>
								<td class="text-center">
									{{adherent.prenom|capitalize}}
								</td>
								<td class="text-center">
									{{adherent.telephone}}
								</td>
								<td class="text-center">
									{% if adherent.adhesionbibliotheque %}
										{{adherent.adhesionbibliotheque.categoriefourmi|capitalize}}
									{% else %}
										/
									{% endif %}
								</td>
								<td class="text-center">
									<div class="form-check">
										<input name="adherent-select" class="text-center form-check-input" type="checkbox" value={{adherent.id}}>
									</div>
								</td>
							</tr>
						{% endfor %}
					{% endif %}
				</tbody>
			</table>
			<div class="d-flex justify-content-between align-items-center mb-3">

				<div>
					{% if adh is not null %}
						<div class="row font-raleway form-control select-height width-auto">
							<p class="p-2">L'objet appartient à :
								{{ adh.nom}}
								{{ adh.prenom}}</p>
						</div>
					{% endif %}
				</div>
				<div>{{form_widget(formName.send)}}</div>
			</div>

		</div>
	</div>
</div>
{{form_end(formName)}} #}
