{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{% set envoi = "<div class='d-block envoi'>" ~ form_widget(form.save, {'label' : '<div class="btn-text p-1 px-2">Valider les <br> informations<div>'}) ~ "</div>" %}
{% set continue = "" %}
{% set arrowClass = 'd-none' %}
{% set footerPadding = 's-padding' %}

{% block title %}Adhérents
{% endblock %}

{% set adminSel = '' %}

{% set valuePaie = adherent.moyenpaiement %}
{% set valueCotis = adherent.etatcotisation %}
{% if adherent.adhesionBibliotheque is not null %}
	{% set biblio = adherent.adhesionbibliotheque %}
{% endif %}

{% block body %}
	<body class={{color}}>
		{{ form_start(form, {'attr': {'autocomplete' : 'off', 'novalidate' : true, 'class' : submitted ? submitted : "" }})}}
		<div class="main-title font-raleway">
			<h1 class="first-part text-center font-raleway mb-5">Editer les informations
				<br>
				de :
				{{adherent.prenom}}
				{{adherent.nom}}
			</h1>
			<div class="container">
				{% set formErrors = form.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
					<ul class="text-center list-group mb-1">
						<li class="list-group-item list-group-item-danger my-1">Formulaire non valide :</li>
						{% for error in formErrors %}
							<li class="list-group-item list-group-item-danger my-1">{{ error.message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
				<div class='{{perime ? 'd-block' : 'd-none'}} alert-warning mx-3'>
					<p class='text-center p-2'>Cette adhésion est périmée depuis le
						{{adherent.dateadhesion|date_modify("+1 year")|date('d-m-Y')}},
						<br>
						Veuillez rentrer un montant de cotisation et un moyen de paiement (si applicable)
						<br>
						et un état de cotisation puis valider pour renouveller l'inscription.</p>
				</div>
			</div>
			<div class="container">
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.nom) }}
							{{ form_widget(form.nom, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_label(form.prenom) }}
							{{ form_widget(form.prenom, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.date_naissance) }}
							{{ form_widget(form.date_naissance, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_label(form.lieu_naissance) }}
							{{ form_widget(form.lieu_naissance, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.adresse) }}
							{{ form_widget(form.adresse, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.cp) }}
							{{ form_widget(form.cp, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_label(form.ville) }}
							{{ form_widget(form.ville, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.telephone) }}
							{{ form_widget(form.telephone, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_label(form.email) }}
							{{ form_widget(form.email, {'attr': {'class': 'form-control p-4'}}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.montant_cotisation) }}
							{{ form_widget(form.montant_cotisation, {'attr': {'class': 'form-control select-height'}
							}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_label(form.moyen_paiement) }}
							{{ form_widget(form.moyen_paiement, {'attr': {'class': 'form-control select-height'}, value : valuePaie|lower
							}) }}
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col">
						<div class="form-group">
							{{ form_label(form.etat_cotisation) }}
							{{ form_widget(form.etat_cotisation, {'attr': {'class': 'form-control select-height'}, value : valueCotis|lower }) }}
						</div>
					</div>
					{% if adherent.adhesionBibliotheque is not null %}
						<div class="col">
							<div class="form-group biblio-select-edit">
								<label for="biblio">Inscription à la bibliothèque</label>
								<select type="radio" name="biblio" class="biblio form-control select-height" required disabled>
									<option value="">Inscription à la bibliothèque</option>
									<option value="oui" selected>Oui</option>
									<option value="non">Non</option>
								</select>
							</div>
						</div>
					{% else %}
						<div class="col">
							<div class="form-group biblio-select-edit">
								<label for="biblio">Inscription à la bibliothèque</label>
								<select type="radio" name="biblio" class="biblio form-control select-height" required>
									<option value="">Inscription à la bibliothèque</option>
									<option value="oui">Oui</option>
									<option value="non">Non</option>
								</select>
							</div>
						</div>
					{% endif %}
				</div>
				{% if biblio is not null %}
					<div class="mt-4 row text-center">
						<div class="col">{{form_widget(form.saveAndContinue, {'label': 'Modifier <br> l\'Inscription à la Bibliothèque', 'attr' : {'class' : 'btn btn-danger p-2'} })}}</div>
				</div>
			</div>
			{% else %}
					<div class="mt-4 row text-center">
						<div class="col">{{form_widget(form.saveAndContinue, {'label': 'Procéder à l\'Inscription à la Bibliothèque des Objets', 'attr' : {'class' : 'btn btn-danger p-2'} })}}</div>
					</div>
				</div>
			{% endif %}
		</div>
	</body>
</div>
{{macros.footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding )}}
{{ form_end(form)}}</body>{% endblock %}{% block footer %}{% endblock %}
