{# {% extends './admin/base-admin.html.twig' %} #}
{% import './admin/_macros.html.twig' as macros %}

{% set envoi = "<div class='btn-text px-2 fourmi-form d-none'>" ~ form_widget(form.save, {'label' : 'Modifier <br> le Statut Fourmi'}) ~ "</div>" %}
{% set continue = "" %}
{% set arrowClass = 'invisible' %}
{% set arrow = true %}
{% set footerPadding = 's-padding' %}

{% block fourmi %}

	{{ form_start(form, {'attr': {'autocomplete' : 'off', 'novalidate' : true, 'class' : submitted ? submitted : "" }})}}
	<input id='hidden-adh' hidden type="text" name='adherent' class='input'/>
	<div class="container">
		<div class="row modif-message text-center"></div>
		<div class="row">
			<div class="col">
				<div class="form-group d-none fourmi-form">
					{{form_label(form.categorie_fourmi)}}
					{{ form_widget(form.categorie_fourmi ,  {'attr': {'class': 'form-control select-height', 'id' : 'hidden-form'}}) }}
				</div>
			</div>
		</div>
	</div>
	{{macros.footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding)}}
	{{ form_end(form)}}
{% endblock %}
