{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{% set envoi = "<div>" ~ form_widget(form.save) ~ "</div>" %}
{% set continue = "" %}
{% set arrowClass = 'd-none' %}
{% set footerPadding = 'm-padding' %}

{% block title %}Objets
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="main-title font-raleway container">
			<h1 class="text-center font-raleway mb-5">Ajout d'un Nouvel Objet à la Bibliothèque</h1>
			{% for label, messages in app.flashes %}
				<div class="container text-center ">
					<div class="alert alert-{{ label }}">
						{% for message in messages %}
							<p>{{message | raw }}</p>
						{% endfor %}
					</div>
				</div>
			{% endfor %}
			<div class="container">
				{% set formErrors = form.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
					<ul class="text-center list-group mb-1">
						<li class="list-group-item list-group-item-danger my-1">Formulaire non valide :</li>
						{% for error in formErrors %}
							<li class="list-group-item list-group-item-danger my-1">{{ error.message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>

			<div class="col">
				{{form_start(formAdhSearch, {attr : {id : 'form-adh'}})}}
				<div class="form-inline search-item font-raleway">
					<label for="adherent">Rechercher un adhérent avec un nom ou prénom
					</label>
					{{ form_widget(formAdhSearch.nom, {'attr': {'class': 'form-control select-height'}}) }}
					<div>{{form_widget(formAdhSearch.search)}}</div>
				</div>
				<div class="row font-raleway">
					<div class="col">
						<div class="searchResult mt-3 mx-4">
							<label class="">Sélectionnez un adhérent :
							</label>
							<table class="table admin-table-emprunts tb-design table-bordered font-raleway">
								<thead>
									<tr class="text-center">
										<th scope="col">Nom</th>
										<th scope="col">Prénom</th>
										<th scope="col">Téléphone</th>
										<th scope="col">Statut Fourmi</th>
										<th scope="col">Selection</th>
									</tr>
								</thead>
								<tbody>
									{% if adherents is defined %}
										{% for adherent in adherents %}
											<tr>
												<td class="text-center">
													{{adherent.nom|capitalize}}
												</td>
												<td class="text-center">
													{{adherent.prenom|capitalize}}
												</td>
												<td class="text-center">
													{{adherent.telephone}}
												</td>
												<td class="text-center">
													{% if adherent.adhesionbibliotheque %}
														{{adherent.adhesionbibliotheque.categoriefourmi|capitalize}}
													{% else %}
														/
													{% endif %}
												</td>
												<td class="text-center">
													<div class="form-check">
														<input name="adherent-select" class="text-center form-check-input" type="radio" value={{adherent.id}}>
													</div>
												</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
							<div class="d-flex justify-content-between align-items-center mb-3">

								<div>
									{% if adh is not null %}
										<div class="row font-raleway form-control select-height width-auto">
											<p class="p-2">Adhérent sélèctionné :
												{{ adh.nom}}
												{{ adh.prenom}}</p>
										</div>
									{% endif %}
								</div>
								<div>{{form_widget(formAdhSearch.send)}}</div>
							</div>

						</div>
					</div>
				</div>
				{{form_end(formAdhSearch)}}
			</div>
			<div class="col">
				{{form_start(formObjSearch)}}
				<div class="form-inline search-item font-raleway">
					<label for="objet">Rechercher un objet avec un nom d'objet
					</label>
					{{ form_widget(formObjSearch.nom, {'attr': {'class': 'form-control select-height'}}) }}
					<div>{{form_widget(formObjSearch.search)}}</div>

					{% if adh is not null %}
						<input hidden type="text" name='adherent' value="{{adh.id}}"/>
					{% endif %}
				</div>
				<div class="row font-raleway">
					<div class="col">
						<div class="searchResult mt-3 mx-4">
							<label class="">Sélectionnez un objet :
							</label>
							<table class="table admin-table-emprunts tb-design table-bordered font-raleway">
								<thead>
									<tr class="text-center">
										<th scope="col">Dénomination</th>
										<th scope="col">Marque</th>
										<th scope="col">Valeur du neuf</th>
										<th scope="col">Statut</th>
										<th scope="col">Selection</th>
									</tr>
								</thead>
								<tbody>
									{% if objets is defined %}
										{% for objet in objets %}
											<tr>
												<td class="text-center">
													{{objet.denomination|capitalize}}
												</td>
												<td class="text-center">
													{{objet.marque|capitalize}}
												</td>
												<td class="text-center">
													{{objet.valeurachat}}
												</td>
												<td class="text-center">
													{{objet.statut}}
												</td>

												<td class="text-center">
													<div class="form-check">
														<input name="objet-select" class="text-center form-check-input" type="radio" value={{objet.id}}>
													</div>
												</td>
											</tr>
										{% endfor %}
									{% endif %}
								</tbody>
							</table>
							<div class="d-flex justify-content-between align-items-center mb-3">
								<div>
									{% if obj is not null %}
										<div class="row font-raleway form-control select-height width-auto">
											<p class="p-2">Objet séléctionné :
												{{ obj.denomination}}
												{{ obj.marque}}</p>
										</div>
									{% endif %}
								</div>

								<div>{{form_widget(formObjSearch.send)}}</div>
							</div>

						</div>
					</div>
				</div>
				{{form_end(formObjSearch)}}
			</div>
			{{ form_start(form, {'attr': {'autocomplete' : 'off', 'novalidate' : true, 'class' : submitted ? submitted : "" }})}}

			<div class="container">
				<div class="row">
					<div class="col">
						<div class="form-group">
							{% if adh is not null %}
								<input hidden type="text" name='adherent' value="{{adh.id}}"/>
							{% endif %}
							{% if obj is not null %}
								<input hidden type="text" name='objet' value="{{obj.id}}"/>
							{% endif %}
							{{ form_widget(form.date_debut ,  {'attr': {'class': 'form-control select-height'}}) }}
						</div>
					</div>
					<div class="col">
						<div class="form-group">
							{{ form_widget(form.date_fin ,  {'attr': {'class': 'form-control select-height'}}) }}
						</div>
					</div>
				</div>
				{{macros.footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding)}}
			</div>
		</div>
		{{ form_end(form)}}
	</body>
{% endblock %}
{% block footer %}{% endblock %}
