{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}


{% set envoi = "<div>" ~ form_widget(form.save) ~ "</div>" %}
{% set continue = "" %}
{% set arrowClass = 'd-none' %}
{% set footerPadding = 'm-padding' %}

{% block title %}Objets
{% endblock %}


{% block body %}
	<body class={{color}}>
		<div class="main-title font-raleway container">
			<h1 class="text-center font-raleway mb-5">Ajout d'un Nouvel Objet à la Bibliothèque</h1>
			<div class="container">
				{% set formErrors = form.vars.errors.form.getErrors(true) %}
				{% if formErrors|length %}
					<ul class="text-center list-group mb-1">
						<li class="list-group-item list-group-item-danger my-1">Formulaire non valide :</li>
						{% for error in formErrors %}
							<li class="list-group-item list-group-item-danger my-1">{{ error.message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group proprio-select">
						<select type="radio" name="proprio" class="proprio form-control select-height" required>
							<option value="">L'objet appartient à</option>
							<option value="association">L'Association</option>
							<option value="adherent">Un adhérent</option>
						</select>
					</div>
				</div>
			</div>
			<div class="container my-2 search-adh d-block">
				<div class="row mx-4 justify-content-center">
					{{form_start(formSearch)}}
					<div class="form-inline font-raleway">
						<label class="mr-4" for="adherent">Rechercher un adhérent avec un nom ou prénom
						</label>
						{{ form_widget(formSearch.nom, {'attr': {'class': 'form-control select-height mr-4'}}) }}
						<a href="{{path('admin_objets_adh')}}">
							<button class='envoi-btn font-raleway' type="button" id="search-adherent">
								<div class="btn-text p-1 px-2">Ok</div>
							</button>
						</a>
					</div>
				</div>
				<div class="row font-raleway">
					<div class="col">
						<div class="searchResult mt-3 mx-4">
							<label>Sélectionnez un adhérent :
							</label>
							<table class="table admin-table-objets tb-design table-bordered font-raleway">
								<thead>
									<tr class="text-center">
										<th scope="col">Nom</th>
										<th scope="col">Prénom</th>
										<th scope="col">Téléphone</th>
										<th scope="col">Selection</th>
									</tr>
								</thead>
								<tbody id="search-results"></tbody>
							</table>
							<div class="d-flex justify-content-between align-items-center mb-3">
								<div id="selected"></div>
								<a href="{{path('admin_objets_sel')}}">
									<button class='envoi-btn font-raleway' type="button" id="select-adherent">
										<div class="btn-text p-1 px-2">Séléctionner</div>
									</button>
								</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			{{form_end(formSearch)}}
			{{ form_start(form, {'attr': {'autocomplete' : 'off', 'novalidate' : true, 'class' : submitted ? submitted : "" ,  'enctype':'multipart/form-data' }})}}
			<input id='hidden-adh' hidden type="text" name='adherent'/>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.denomination ,  {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.marque, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.description, {'attr': {'class': 'form-control p-4'}}) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.photos, {'attr': {'class': 'form-control p-4'}}) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.lieu, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col">
					<div class="form-group categorie-select">
						{{ form_widget(formCat.categorie, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col ss-cat">
					<div class="form-group">
						<select class="form-control select-height" id="ss-cat-select" name="ss-cat-sel"></select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.observation, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.catalogue, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.valeur_achat, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.coef_usure, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.pourcent_calcul, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
				<div class="col">
					<div class="form-group">
						{{ form_widget(form.vitrine, {'attr': {'class': 'form-control select-height'}}) }}
					</div>
				</div>
			</div>
			{{macros.footer_color(section, return_path, arrow, envoi, continue, arrowClass, footerPadding)}}
		</div>
		{{ form_end(form)}}
	</body>
{% endblock %}
{% block footer %}{% endblock %}
