{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Menu Admin
{% endblock %}

{% block header %}
	{{macros.topnav_color('section-main')}}
{% endblock %}

{% block body %}
	<body class="body-color">
		<div class="margin-body main-menu container-fluid d-flex justify-content-center align-items-center">
			<div class="row">
				<div class="col text-center">
					<div class="row justify-content-center mb-md-2">
						<a href="{{ path('menu-adherents') }}">
							<button type="button" class="big-button mb-2 mb-md-0 mr-md-2">
								<div class="btn-text line-height">LES ADH&Eacute;RENTS</div>
							</button>
						</a>
						<a href="{{ path('test') }}">
							<button type="button" class="big-button mb-2 mb-md-0 mr-md-2">
								<div class="btn-text line-height">LES EMPRUNTS</div>
							</button>
						</a>
					</div>
					<div class="row justify-content-center">
						<a href="{{ path('test') }}">
							<button type="button" class="big-button mb-2 mb-md-0 mr-md-2">
								<div class="btn-text line-height">LES OBJETS</div>
							</button>
						</a>
						<a href="{{ path('test') }}">
							<button type="button" class="big-button mb-2 mb-md-0 mr-md-2">
								<div class="btn-logout">LES LIEUX DE
									<br>STOCKAGE D'OBJETS</div>
							</button>
						</a>
					</div>
				</div>
			</div>
		</div>
	</body>
{% endblock %}
{% block footer %}
	<footer>
		{{macros.footer_color('section-main')}}
	</footer>
{% endblock %}
