{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Liste des Adhérents
{% endblock %}


{% block body %}
	<body class={{color}}>
		<div class="mx-4 main-title font-raleway">
			<h1 class="text-center font-raleway mb-5">Liste des Adhérents</h1>

			<div class="show" data-controller="admin">
				<table class="table admin-table-adherents tb-design table-bordered" id="admin-t">
					<thead>
						<tr class="text-center">
							<th scope="col">Id
								<br>
								<a href="{{ path('admin_adherents_list_sort', {'adh': "id", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>
							<th scope="col">
								Nom
								<br>
								<a href="{{ path('admin_adherents_list_sort', {'adh': "nom", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>
							<th scope="col">
								Prénom
								<a href="{{ path('admin_adherents_list_sort', {'adh': "prenom", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>
							{# <th scope="col">Adresse</th> #}
							<th scope="col">Téléphone</th>
							<th scope="col">email</th>
							{# <th scope="col">Date de naissance</th>							<th scope="col">Lieu de naissance</th> #}
							{# <th scope="col">Date d'inscription</th> #}
							{# <th scope="col">Montant cotisation</th> #}
							{# <th scope="col">Statut de la cotisation</th> #}
								<th scope="col"> Adhésion active</th>
							{# <th scope="col">Est Administrateur</th> #}
							<th scope="col">Inscription Bibliotheque</th>
							{# <th scope="col">Satut adhésion bibliothèque</th> #}
							<th scope="col">Satut fourmi
								<br>
								<a href="{{ path('admin_adherents_list_sort', {'adh': "categorie_fourmi", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>

							<th scope="col">Montant du dépot permanent<br>
								<a href="{{ path('admin_adherents_list_sort', {'adh': "depot_permanent", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>
							<th scope="col">Date de fin responsabilité civile
								<a href="{{ path('admin_adherents_list_sort', {'adh': "fin_rc", 'order': route }) }}">
									<i class="fas fa-angle-{{route}}"></i>
								</a>
							</th>
						</tr>
					</thead>
				</th>
				{# <th scope="col">Justificatif de domicile</th> #}
				{# <th scope="col">Justificatif d'identité</th> #}
			</tr>
		</thead>
	</body>
</th></tr></thead><tbody>{% for adherent in adherents %}
{% set actif = adherent.dateadhesion|date_modify("+1 year")|date('Y-m-d') > "now"|date('Y-m-d') ? "Oui" : "Non" %}
{% set actifClass = actif == "Non" ? "text-danger" : '' %}
{% set adBiblio = adherent.adhesionbibliotheque %}
{% if adBiblio %}
	{% set depotP = adBiblio.depotpermanent ~ " €" %}
	{% set fourmi = adBiblio.categoriefourmi %}
	{% set biblio = actif == "Oui" ? "Inscrit" : "Non inscrit" %}
	{% set statutBiblio = adBiblio.satutInscription %}
	{% if adBiblio.finrc %}
		{% set finRc =  adBiblio.finrc|date("d-m-Y")  %}
		{% set rcClass = adBiblio.finrc|date("Y-m-d") < "now"|date('Y-m-d') ? "text-danger" : '' %}
	{% else %}
		{% set finRc = "pas de RC donnée"  %}
		{% set rcClass = "text-danger" %}
	{% endif %}
	{% if adBiblio.justifdomicile %}
		{% set justifDomicile = "Oui"  %}
	{% else %}
		{% set justifDomicile = "Non" %}
	{% endif %}
	{% if adBiblio.justifidentite %}
		{% set justifId = "Oui"  %}
	{% else %}
		{% set justifId = "Non" %}
	{% endif %}
{% else %}
	{% set biblio = "Non inscrit" %}
	{% set fourmi = " /"  %}
	{% set finRc = " /"  %}
	{% set rcClass = "" %}
	{% set justifDomicile = " /"  %}
	{% set justifId = " /"  %}
	{% set statutBiblio = " /" %}
	{% set depotP =  " /"  %}
{% endif %}

<tr class="text-nowrap {{actifClass}}">
	<td>
		<a class="{{actifClass}}" href="{{path('admin_details_adherent', {'slug': adherent.slug})}}">{{adherent.id}}</a>
	</td>
	<td class="{{actifClass}}">
		<a class="{{actifClass}}" href="{{path('admin_details_adherent', {'slug': adherent.slug})}}">{{adherent.nom}}</a>
	</td>
	<td>
		{{adherent.prenom}}
	</td>
	{# <td>{{adherent.adresse}}						{{adherent.cp}}{{adherent.ville}}</td> #}
	<td>{{adherent.telephone}}</td>
	<td>{{adherent.email}}</td>
	{# <td>{{adherent.datenaissance|date("d/m/Y")}}</td> #}
	{# <td>{{adherent.lieunaissance}}</td> #}
	{# <td class="text-center">{{adherent.dateadhesion|date("d/m/Y")}}</td> #}
	{# <td class="text-center">{{adherent.montantcotisation}}€													</td> #}
	{# <td class="text-center">{{adherent.etatcotisation}}													</td> #}
		<td class="text-center"> {{actif}}</td>
	{# <td class="text-center">{{adherent.admin ? "Oui" : "Non"}}</td> #}
	<td class="text-center">{{biblio}}</td>
	{# <td class="text-center">{{statutBiblio}}</td> #}
	<td class="text-center">{{fourmi}}</td>
	<td class="text-center">{{depotP}}</td>
	<td class="text-center {{rcClass}}">{{finRc}}</td>
	{# <td class="text-center">{{justifDomicile}}</td> #}
	{# <td class="text-center">{{justifId}}</td> #}
</tr>{% endfor %}</tbody></body></table><a href="{{ path('admin_csv_adherent') }}"><button class="btn btn-danger">Sortir un récapitulatif en CSV</button></a></div>{# <button class="leftArrow">SCROLL R</button><button class="rightArrow">SCROLL L</button> #}</div></body>{% endblock %}
