{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Liste des Emprunts
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="mx-4 main-title font-raleway">
			<h1 class="text-center font-raleway mb-5">Réservations d'objets
				<br>
				en attente de validation</h1>
			<div class="mx-5" data-controller="admin">
				{{ macros.flash_message() }}
				<table class="table admin-table-emprunts tb-design table-bordered" id="admin-t">
					<thead>
						<tr class="text-center">
							<th scope="col">Id</th>
							<th scope="col">
								Nom de l'emprunteur
							</th>
							<th scope="col">Objet emprunté</th>
							<th scope="col">Date de réservation</th>
							<th scope="col">Statut de l'emprunt</th>
							<th scope="col">Date de début de l'emprunt</th>
							<th scope="col">Date de fin de l'emprunt</th>
							<th scope="col">Remarque de l'emprunteur</th>
							<th scope="col">Prix de l'emprunt</th>
							<th scope="col">Montant du dépôt de garantie à rajouter</th>
							<th scope="col">Emprunt payé</th>
							<th scope="col">Action</th>
						</tr>
					</thead>
					<tbody>
						{% for emprunt in emprunts %}
							{% set nomEmprunteur = emprunt.adherent ? emprunt.adherent.nom|capitalize : emprunt.superadmin.nom|capitalize %}
							{% set prenomEmprunteur = emprunt.adherent ? emprunt.adherent.prenom|capitalize : emprunt.superadmin.prenom|capitalize %}

							{% if emprunt.statut %}
								{% set statutEmprunt = emprunt.statut %}
							{% elseif emprunt.dateretourobjet %}
								{% set statutEmprunt = "Terminé" %}
							{% elseif emprunt.datedebut > date() %}
								{% set statutEmprunt = "Objet réservé" %}
							{% elseif emprunt.datedebut < date() and emprunt.datefin > date() %}
								{% set statutEmprunt = "Emprunt en cours" %}
							{% elseif emprunt.dateretourobjet == null and emprunt.datefin < date() %}
								{% set statutEmprunt = "En retard" %}
							{% endif %}

							{% set empruntRegle = emprunt.empruntregle ? "Oui" : "Non" %}

							<tr class="text-nowrap">
								<td>
									<a href="{{path('test')}}">{{emprunt.id}}</a>
								</td>
								<td>
									{{nomEmprunteur}}
									{{prenomEmprunteur}}
								</td>
								<td class="text-center">{{emprunt.objet.denomination|capitalize}}
									{{emprunt.objet.marque|capitalize}}
								</td>
								<td class="text-center">{{emprunt.datereservation|date("d/m/Y")}}</td>
								<td class="text-center">{{statutEmprunt}}</td>
								<td class="text-center">{{emprunt.datedebut|date("d/m/Y")}}</td>
								<td class="text-center">{{emprunt.datefin|date("d/m/Y")}}</td>
								<td class="text-center">{{emprunt.remarque ? emprunt.remarque : "-"}}
								</td>
								<td class="text-center">{{emprunt.prixemprunt}}
									€</td>
								<td class="text-center">{{emprunt.depotRajoute}}
									€</td>

								<td class="text-center">{{empruntRegle}}</td>
								<td class="text-center">
									<a href="{{path('accepter_reservation', {'slug': emprunt.slug})}}" onclick="return confirm('Etes-vous sûr de vouloir accepter cet emprunt ?')">
										<button class="btn btn-success px-3">
											Valider
										</button>
									</a>
									<a href="{{path('refuser_reservation', {'slug': emprunt.slug})}}" onclick="return confirm('Etes-vous sûr de vouloir refuser cet emprunt ?')">
										<button class="btn btn-danger">Refuser</button>
									</a>
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
{% endblock %}
