{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Liste des Objets
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="mx-4 main-title font-raleway">
			<h1 class="text-center font-raleway mb-5">Liste des Objets</h1>
			<div class="show" data-controller="admin">
				<table class="table admin-table-objets tb-design table-bordered" id="admin-t">
					<thead>
						<tr class="text-center">
							<th scope="col">Id
								<a class='arrowButton' href="{{ path('admin_objets_list_sort', {'obj': "id", 'order': route }) }}">
									<i class="fas fa-angle-down"></i>
								</a>
							</th>
							<th scope="col">
								Dénomination
								<br>
								<a class='arrowButton' href="{{ path('admin_objets_list_sort', {'obj': "denomination", 'order': route }) }}">
									<i class="fas fa-angle-down"></i>
								</a>
							</th>
							<th scope="col">Marque</th>
							{# <th scope="col">Description</th> #}
							<th scope="col">Valeur de remplacement

							</th>
							{# <th scope="col">Coefficient d'usure</th> #}
							{# <th scope="col">Pourcentage de calcul</th> #}
							{# <th scope="col">Mis en vitrine</th> #}
								<th scope="col"> Date de création</th>
							<th scope="col">Statut de l'objet</th>
							<th scope="col">Observation</th>
							<th scope="col">Catalogue</th>
							<th scope="col">Date de sortie du stock</th>
							<th scope="col">Sous-categorie</th>
							<th scope="col">Categorie</th>
							<th scope="col">Lieu de stockage de l'objet</th>
							<th scope="col">Propriétaire</th>

						</tr>
					</thead>
					<tbody>
						{% for objet in objets %}
							{% set proprietaire = objet.adherent ? objet.adherent.nom|capitalize ~ " " ~ objet.adherent.prenom|capitalize : "Kikassi Kikassa" %}
							{# {% set vitrine = objet.vitrine ? "Oui" : "Non" %} #}
							{% set valeurRemplacement = objet.valeurachat * objet.coefusure / 5 %}
							{% set dateSortieStock = objet.datesortiestock ? objet.datesortiestock|date("d/m/Y") : " /" %}
							{% set classSortieStock = objet.datesortiestock and objet.datesortiestock|date("Y/m/d") < "now + 1 month"|date("Y/m/d") ? "text-danger" : "" %}
							{% set classObjetReserve = objet.statut == "Réservé" ? "text-danger" : "" %}
							<tr class="text-nowrap">
								<td>

									<a href="{{path('admin_details_objet', {'slug': objet.slug})}}">{{objet.id}}</a>

								</td>
								<td class="text-center">
									<a href="{{path('admin_details_objet', {'slug': objet.slug})}}">{{objet.denomination|capitalize}}</a>
								</td>
								<td class="text-center">{{objet.marque|capitalize}}
								</td>
								{# <td>{{objet.description|capitalize}}</td> #}
								<td class="text-center">{{valeurRemplacement|format_currency('EUR', locale='fr')}}

								</td>
								{# <td class="text-center">{{objet.coefusure}}</td><td class="text-center">{{objet.pourcentcalcul}}%</td> #}
								{# <td class="text-center">{{vitrine}}</td> #}
								<td>{{objet.datecreation|date("d/m/Y")}}</td>
								<td class="text-center {{classObjetReserve}} ">{{objet.statut|capitalize}}</td>
								<td>{{objet.observation|capitalize}}</td>
								<td class="text-center" class="text-center">{{objet.catalogue.nomcatalogue|capitalize}}</td>
								<td class="text-center {{classSortieStock}}">{{dateSortieStock}}</td>
								<td class="text-center">{{objet.souscategorie.nomsscategorie|capitalize}}</td>
								<td class="text-center">{{objet.souscategorie.categorie.nomcategorie|capitalize}}</td>

								<td class="text-center">{{objet.lieu.nom|capitalize}}</td>
								<td class="text-center">{{proprietaire}}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
				<a href="{{ path('admin_csv_objet') }}">
					<button class="btn btn-danger">Sortir un récapitulatif en CSV</button>
				</a>
			</div>
		</div>
	</body>
{% endblock %}
