{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Liste des Objets
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="mx-4 main-title font-raleway">
			<h1 class="text-center font-raleway mb-5">Liste des Objets</h1>
			<div class="show" data-controller="hello">
				<table class="table admin-table-objets tb-design table-bordered" id="admin-t">
					<thead>
						<tr class="text-center">
							<th scope="col">Id</th>
							<th scope="col">
								Dénomination
							</th>
							<th scope="col">Marque</th>
							<th scope="col">Description</th>
							<th scope="col">Valeur d'achat</th>
							<th scope="col">Coeficient d'usure
							</th>
							<th scope="col">Pourcentage de calcul</th>
							<th scope="col">Mis en vitrine</th>
							<th scope="col">Date de création</th>
							<th scope="col">Statut de l'objet</th>
							<th scope="col">Observation</th>
							<th scope="col">Catalogue</th>
							<th scope="col">Lieu de stockage de l'objet</th>
							<th scope="col">Sous-categorie</th>
							<th scope="col">Categorie</th>
							<th scope="col">Adherent</th>

						</tr>
					</thead>
					<tbody>
						{% for objet in objets %}
							{% set proprietaire = objet.adherent != null ? objet.adherent.nom|capitalize ~ " " ~ objet.adherent.prenom|capitalize : "Kikassi Kikassa" %}
							{% set vitrine = objet.vitrine != null ? "Oui" : "Non" %}
							<tr class="text-nowrap">
								<td>
									<a href="{{path('test')}}">{{objet.id}}</a>
								</td>
								<td>
									<a href="{{path('test')}}">{{objet.denomination|capitalize}}</a>
								</td>
								<td>{{objet.marque|capitalize}}
								</td>
								<td>{{objet.description|capitalize}}</td>
								<td class="text-center">{{objet.valeurachat}}
									€
								</td>
								<td class="text-center">{{objet.coefusure}}</td>
								<td class="text-center">{{objet.pourcentcalcul}}
									%</td>
								<td class="text-center">{{vitrine}}</td>
								<td>{{objet.datecreation|date("d/m/Y")}}</td>
								<td class="text-center">{{objet.statut|capitalize}}</td>
								<td>{{objet.observation|capitalize}}</td>
								<td class="text-center" class="text-center">{{objet.catalogue.nomcatalogue|capitalize}}</td>
								<td class="text-center">{{objet.lieu.nom|capitalize}}</td>
								<td class="text-center">{{objet.souscategorie.nomsscategorie|capitalize}}</td>
								<td class="text-center">{{objet.souscategorie.categorie.nomcategorie|capitalize}}</td>
								<td class="text-center">{{proprietaire}}</td>
							</tr>
						</tbody>
					{% endfor %}
				</table>
			</div>
		</div>
	</body>
{% endblock %}
