{% extends 'base.html.twig' %}

{% block title %}Emprunt index{% endblock %}

{% block body %}
    <h1>Emprunt index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Date_reservation</th>
                <th>Date_debut</th>
                <th>Date_fin</th>
                <th>Remarque</th>
                <th>Date_retour_objet</th>
                <th>Depot_rajoute</th>
                <th>Penalites</th>
                <th>Prix_emprunt</th>
                <th>Slug</th>
                <th>Statut</th>
                <th>Emprunt_regle</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for emprunt in emprunts %}
            <tr>
                <td>{{ emprunt.id }}</td>
                <td>{{ emprunt.dateReservation ? emprunt.dateReservation|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.dateDebut ? emprunt.dateDebut|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.dateFin ? emprunt.dateFin|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.remarque }}</td>
                <td>{{ emprunt.dateRetourObjet ? emprunt.dateRetourObjet|date('Y-m-d') : '' }}</td>
                <td>{{ emprunt.depotRajoute }}</td>
                <td>{{ emprunt.penalites }}</td>
                <td>{{ emprunt.prixEmprunt }}</td>
                <td>{{ emprunt.slug }}</td>
                <td>{{ emprunt.statut }}</td>
                <td>{{ emprunt.empruntRegle ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('emprunt_show', {'id': emprunt.id}) }}">show</a>
                    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="13">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('emprunt_new') }}">Create new</a>
{% endblock %}
