{% extends 'base.html.twig' %}

{% block title %}Emprunt{% endblock %}

{% block body %}
    <h1>Emprunt</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ emprunt.id }}</td>
            </tr>
            <tr>
                <th>Date_reservation</th>
                <td>{{ emprunt.dateReservation ? emprunt.dateReservation|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ emprunt.dateDebut ? emprunt.dateDebut|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Date_fin</th>
                <td>{{ emprunt.dateFin ? emprunt.dateFin|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Remarque</th>
                <td>{{ emprunt.remarque }}</td>
            </tr>
            <tr>
                <th>Date_retour_objet</th>
                <td>{{ emprunt.dateRetourObjet ? emprunt.dateRetourObjet|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Depot_rajoute</th>
                <td>{{ emprunt.depotRajoute }}</td>
            </tr>
            <tr>
                <th>Penalites</th>
                <td>{{ emprunt.penalites }}</td>
            </tr>
            <tr>
                <th>Prix_emprunt</th>
                <td>{{ emprunt.prixEmprunt }}</td>
            </tr>
            <tr>
                <th>Slug</th>
                <td>{{ emprunt.slug }}</td>
            </tr>
            <tr>
                <th>Statut</th>
                <td>{{ emprunt.statut }}</td>
            </tr>
            <tr>
                <th>Emprunt_regle</th>
                <td>{{ emprunt.empruntRegle ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('emprunt_index') }}">back to list</a>

    <a href="{{ path('emprunt_edit', {'id': emprunt.id}) }}">edit</a>

    {{ include('emprunt/_delete_form.html.twig') }}
{% endblock %}
