{% extends './admin/base-admin.html.twig' %}
{% import './admin/_macros.html.twig' as macros %}

{% block title %}Liste des Emprunts
{% endblock %}

{% block body %}
	<body class={{color}}>
		<div class="mx-4 main-title font-raleway">
			<h1 class="text-center font-raleway mb-5">Liste des Emprunts</h1>
			<div class="show" data-controller="admin">
				<table class="table admin-table-emprunts tb-design table-bordered" id="admin-t">
					<thead>
						<tr class="text-center">
							<th scope="col">Id</th>
							<th scope="col">
								Emprunteur
							</th>
							<th scope="col">Objet emprunté</th>
							<th scope="col">Date de réservation</th>
							<th scope="col">Statut de l'emprunt</th>
							<th scope="col">Date de début de l'emprunt</th>
							<th scope="col">Date de fin de l'emprunt</th>
							<th scope="col">Remarque de l'emprunteur</th>
							<th scope="col">Date de retour de l'objet
							</th>
							<th scope="col">Prix de l'emprunt</th>
							<th scope="col">Emprunt payé</th>
							<th scope="col">Pénalités</th>
							<th scope="col">Pénalités payées</th>
						</tr>
					</thead>
					<tbody>
						{% for emprunt in emprunts %}
							{% set emprunteur = emprunt.adherent != null ? emprunt.adherent.nom|capitalize ~ " " ~ emprunt.adherent.prenom|capitalize : emprunt.superadmin.nom|capitalize ~ " " ~ emprunt.superadmin.prenom|capitalize %}
							{% set dateRetour =  emprunt.dateretourobjet is null ? "-" : emprunt.dateretourobjet|date("d/m/Y") %}
							{% if emprunt.statut != null %}
								{% set statutEmprunt = emprunt.statut %}
							{% elseif emprunt.dateretourobjet %}
								{% set statutEmprunt = "Terminé" %}
							{% elseif emprunt.datedebut > date() %}
								{% set statutEmprunt = "Objet réservé" %}
							{% elseif emprunt.datedebut < date() and emprunt.datefin > date() %}
								{% set statutEmprunt = "Emprunt en cours" %}
							{% elseif emprunt.dateretourobjet == null and emprunt.datefin < date() %}
								{% set statutEmprunt = "En retard" %}

							{% endif %}


							{% set dureeEmprunt = date(emprunt.datefin).diff(date(emprunt.datedebut)) %}
							{% set dureeSup =  date(emprunt.dateretourobjet).diff(date(emprunt.datefin)) %}
							{% set dureeSupNonRetourne = date("now").diff(date(emprunt.datefin)) %}
							{% set prixParJour = emprunt.prixemprunt / dureeEmprunt.days %}

							{% if date(emprunt.datefin) < date() %}
								{% if emprunt.dateretourobjet is null %}
									{% set penalites = (dureeSupNonRetourne.days * 1.75 * prixParJour)|number_format(2)  ~ " €" %}
								{% else %}
									{% set penalites = (dureeSup.days * 1.75 * prixParJour)|number_format(2) ~ " €" %}
								{% endif %}
							{% else %}
								{% set penalites = "-" %}
							{% endif %}
							{% set difference = date(emprunt.datefin).diff(date(emprunt.datedebut)) %}

							{% if penalites == "-" %}
								{% set penalitesPayees = "-" %}
							{% elseif emprunt.dateretourobjet != null %}
								{% set penalitesPayees = "Oui" %}
							{% else %}
								{% set penalitesPayees = "Non" %}
							{% endif %}

							{% set empruntRegle = emprunt.empruntregle == null ? "Non" : "Oui" %}

							<tr class="text-nowrap">
								<td>
									<a href="{{path('test')}}">{{emprunt.id}}</a>
								</td>
								<td>
									{{emprunteur}}
								</td>
								<td class="text-center">{{emprunt.objet.denomination|capitalize}}
								</td>
								<td class="text-center">{{emprunt.datereservation|date("d/m/Y")}}</td>
								<td class="text-center">{{statutEmprunt}}</td>
								<td class="text-center">{{emprunt.datedebut|date("d/m/Y")}}</td>
								<td class="text-center">{{emprunt.datefin|date("d/m/Y")}}</td>
								<td>{{emprunt.remarque}}
								</td>
								<td class="text-center">
									{{dateRetour}}</td>

								<td class="text-center">{{emprunt.prixemprunt}}
									€</td>
								<td class="text-center">{{empruntRegle}}</td>
								<td class="text-center">{{penalites}}</td>
								<td class="text-center">{{penalitesPayees}}</td>

							</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</body>
{% endblock %}
